
# Ignore all .cpp files
*.cpp

# Ignore all .log files
*.log

# Ignore all .txt files
*.txt

# Ignore all .hpp files
*.hpp

*.class

target

# Ignore everything in the target directory
target/*

# Ignore the .idea directory used by JetBrains IDEs
.idea/
